footer {
    height: 60px;
    background-color: #ffff;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    position: fixed;
}


}